<% provide(:title, t('.title')) %>

<div class="row dashboard_items well">
  <%= image_tag("dashboard.png", :alt => t('.title')), class: "img-responsive" %>
  <hr>

  <div class="col-md-4 dashboard_header">
    <h3><%= t '.items_purchased' %></h3>
    <div class="dashboard_item">
      <% if current_user.items_purchased.any? %>
        <%= render 'dashboard/item', items: current_user.items_purchased %>
      <% end %>
    </div>
  </div>

  <div class="col-md-4 dashboard_header">
    <h3><%= t '.items_for_sale' %></h3>
    <div class="dashboard_item">
      <% if current_user.items_for_sale.any? %>
        <%= render 'dashboard/item', items: current_user.items_for_sale %>
      <% end %>
    </div>
  </div>

  <div class="col-md-4 dashboard_header">
    <h3><%= t '.items_sold' %></h3>
    <div class="dashboard_item">
      <% if current_user.items_sold.any? %>
        <%= render 'dashboard/item', items: current_user.items_sold %>
      <% end %>
    </div>
  </div>
</div>
