<% provide(:title, t('devise.registrations.new.title')) %>
<div class="registration">
  <div class="row">
    <div class="span4 reset-center">
      <div class="well">
        <%= image_tag("tacotrade_small.png", :alt => t('site_name')) %>

        <h1 class="heading"><%= t 'devise.registrations.new.title' %></h1>

        <div class="register">
          <%= simple_form_for(resource,
                              :html => { :class => %w{form-vertical} },
                              :as => resource_name,
                              :url => registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <%= f.input :name,
                        :required => false,
                        :label => t('devise.registrations.new.name_label') %>
            <%= f.input :email %>
            <%= f.input :password %>
            <%= f.input :password_confirmation %>

            <%= f.submit t('devise.registrations.new.submit'), :class => "btn btn-inverse" %>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
